#################################
# Build outputs
#################################
bin/
obj/
artifacts/
project.lock.json
project.fragment.lock.json

#################################
# Publish output
#################################
*.Publish.xml
publish/
out/

#################################
# ASP.NET Core
#################################
appsettings.json
appsettings.*.json
.env
secrets.json
.github/

# Don't include anything in wwwroot
wwwroot/

# Resource folders
resource-product-images/
uploads/
images/

#################################
# Entity Framework
#################################
Migrations/

#################################
# Logs & diagnostic files
#################################
*.log
*.nlog
logs/
log/
Log/
log-output.txt

#################################
# User-specific Visual Studio files
#################################
*.user
*.suo
*.userosscache
*.sln.docstates
*.psess
*.vsp
*.vspx
*.pidb
*.sdf
*.cache
*.dbmdl

#################################
# Visual Studio settings
#################################
.vs/
.vscode/
*.launch.json
*.vspscc
*.vssscc

#################################
# Test & coverage
#################################
TestResults/
coverage/
*.coverage
*.coveragexml
*.trx

#################################
# JetBrains Rider
#################################
.idea/

#################################
# Resharper
#################################
_ReSharper*/
*.DotSettings.user

#################################
# OS-specific junk files
#################################
*.DS_Store
*.AppleDouble
*.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.bak
*.tmp

#################################
# Node / Frontend related
#################################
node_modules/
dist/
build/
.cache/
.npm/
.yarn/
.pnp.*
*.tgz